@using Infrastructure.Data.Notify
@model IList<ErrorNotification>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="alert alert-danger">
            ID:  @Html.Raw(item.Id + "<br/>")
            MESSAGE:  @Html.Raw(item.UserMessage + "<br/>")
        </div>
    }
}