<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ProjectDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=Projectdev1.finalphasesystems.com/ProjectDEV;PERSIST SECURITY INFO=True;USER ID=ProjectWEB; Password=Project123web11;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="Application" value="ProjectTemplate" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add key="DefaultController" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add key="DefaultFacility" value="DEMO1" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add key="DBConnectionStringName" value="ProjectDB" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add key="InstallDirectory" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add key="Repository" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add key="log4net.Config" value="log4net.config" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add key="CustomCSS" value="Content/default.css" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>